<% include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
<div id="background-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('http://i.imgur.com/2LSMCmJ.jpg')">
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://i.imgur.com/SBEmFpv.jpg')">
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://i.imgur.com/emvhOnb.jpg')">
            </div>
        </div>
    </div>
</div>
<div id="content-wrapper">
    <div class="mb-5">
        <h1>Welcome to YelpCamp!</h1>
    </div>
    <div>
        <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    </div>
</div>
<% include partials/footer %>